$base-hover-color: #3d4854;
$base-grid-color: #25313e;

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Ubuntu-Medium') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@mixin btn-classic {
  height: 32px;
  padding: 3px 6px 0px 6px;
  display: block;
}

* {
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 22px;
}

.p-dropdown-trigger {
  background-color: $base-grid-color;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.p-dropdown-item {
  font-size: 14px;
  height: 24px;
}

.p-dropdown-label {
  font-size: 14px;
  color: white;
  background-color: $base-grid-color;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 5px;

}

.router-link-exact-active  {
  background-color: #5a6979;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-bg {
  background-color: #2e3740;
  width: 100%;
  margin-top: 13px;
  padding: 5px;
}

.bg-default {
  background-color: #1c242d;
  min-height: calc(100vh - 32px);
  height: calc(100vh - 32px);
  display: flex;
  justify-content: center;
}

.content-default {
  flex: 1 1 100%;
  max-width: 1200px;
  color: white;
}

.btn {
  @include btn-classic;
}

.btn-person {
  height: 32px;
  padding: 3px;
  display: block;
}

.btn-person:hover {
  background-color: $base-hover-color;
}

.btn-plus {
  @include btn-classic;
  color: #ffbf00;
}

.btn:hover {
  color: red;
  background-color: $base-hover-color;
}

.btn-plus:hover {
  background-color: $base-hover-color;
}

.tabulator {
  border: 1px solid $base-grid-color !important;
  background-color: transparent !important;
}

.tabulator, .tabulator-header, .tabulator-col, .tabulator-header-contents {
  border-right: 0px !important;
  border-bottom: 0px !important;
  background-color: transparent !important;
}

.tabulator-col-content {
  color: white;
  background-color: $base-grid-color;
  border-right: 0px !important;
}

.tabulator-row-odd {
  background-color: #2d3741 !important;
  color: white;
}

.tabulator-row-even {
  background-color: #28333d !important;
  color: white;
}

.tabulator-cell {
  border-right: 0px !important;
}

.image-player {
  width: 64px;
  height: 64px;
}

.image-rank {
  width: 64px;
  height: 64px;
}

.image-rank-main {
  width: 48px;
  height: 48px;
}

.green-default {
  color: #a9cf54;
}

.red-default {
  color: #e40c1e;
}